body {
}
#jeu {
	visibility: hidden;
}
.accueil{
	background-image: url("../resources/Images/background.jpg");
}
.GameOver{
	background-image: url("../resources/Images/background.jpg");
	visibility: hidden;
	height:100vh;
}
.NomJeu{
	font-size: 4em;
	margin: 50px;
}
.container-fluid {
	margin: 0px;
	padding: 0px;
}
.logo{
	width: 5%;
}
.image_accueil{
	width: 10%;
}
.imageGameOver{
	width: 10%;
}
.GameOvertitle{
	font-size: 15em;
}
.game {
	margin-left:-20px;
	width: 100vw;
	height: 100vh;
	z-index: -5;
	background: url('../resources/Images/Textures/herbe.png') repeat;
}

.game .infos {
	display: block;
	position: fixed;
	width: 300px;
	height: 50px;
	right: 0px;
	color:white;
	background-color: rgba(100,100,100,0.3);
	z-index: 1;
	text-align: center;
}

.game .infos img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game .tower, .game .follow-tower, .game .monster {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	text-align: center;
}

.game .tower img, .game .follow-tower img, .game .monster img {
	width: 60px;
	height: 60px;
}

.game .monster .progress-bar {
	margin-top: 5px;
}

.game .monster .progress-bar.target {
	background-color: green;
}

.game .monster .money {
	text-align: center;
	display: none;
}

.game .area {
	display: none;
	position: absolute;
	background-color: green;
	z-index: 0;
}

.game .follow-tower {
	display: none;
}

.game .follow-tower .area {
	display: block;
}

.game .shot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}

.game .parcours {
	position: absolute;
	z-index:0;
	cursor: not-allowed;
}

.game .parcours div {
	position: absolute;
	margin-left:20px;
	background: url('../resources/Images/Textures/parcours.png') repeat;
	opacity: 1;
}

.game-constructor {
	width: 100%;
	height: 130px;
	position: fixed;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
	text-align: center;
	padding: 20px;
}

.game-constructor .tower img.tower {
	max-height: 50px;
}

.game-constructor .tower img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game-constructor .tower.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.game-constructor .infos {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    display: none;
}

.game-constructor .infos p {
	font-size: 11pt;
}

